name: scraping

on:
  push:
    branches:
      - "main"
  pull_request:
  schedule:
    - cron: '11 * * * *'
  workflow_dispatch:

jobs:
  exec-docker:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
     
      - name: setup env
        run: |
          echo ${{ secrets.ENV_BASE64 }} | base64 -d > .env.local
          echo "GITHUB_EVENT_NAME=${{ github.event_name }}" >> .env.local
          echo "GITHUB_REF=${{ github.ref }}" >> .env.local

      - name: run Docker
        run: cd Intel && docker compose build --no-cache && docker compose up
 
      - name: Diff
        id: diff
        run: |
          git add -N .
          git diff --name-only --exit-code
        continue-on-error: true

      - name: Commit & Push
        run: |
          set -x
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git add .
          git commit --author='bvlion <bvltiggeari@ambitious-i.net>' -m 'Update before_hash'
          git push
        if: steps.diff.outcome == 'failure' && github.event_name != 'pull_request'
